<!DOCTYPE html>
<html lang='en'>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' href='../static/summary.css'>
  <head>
    <title>Patient summaries for {{ date }} </title>
  </head>
  <body>
    <div class='header'><h1>Patient summary for {{ date }}</h1></div>
    <nav class='patientlist'>
    {% if patient_data %}
      <p>Patients:</p>
      <ul>
        {% for id in patient_data.keys() %}
	<li><a href='#{{ id }}'>{{ id }}</a></li>
	{% endfor %}
      </ul>
    {% else %}
      <p>No available patient list</p>
    {% endif %}
    </nav>
    {% for id in patient_data.keys() %}
    <section id='{{ id }}'>
      <h3>Patient info for {{ patient_data['id']['name'] }}</h3>
      <div class='vitals'>
        <h4>Vitals</h4>
	{% if patient_data['id']['vitals'] %}
	<table id='{{ id }}_vitals'>
          <tr>
            <th>Time</th>
	    <th>Temperature</th>
	    <th>Pulse</th>
	    <th>Respiration</th>
	    <th>Systolic BP</th>
	    <th>Diastolic BP</th>
	  </tr>
          {% for line in patient_data['id']['vitals'] %}
          <tr>
            <td>{{ line['Time'] }}</td>
	    <td>{{ line['Temperature'] }}</td>
	    <td>{{ line['Pulse'] }}</td>
	    <td>{{ line['Respiration'] }}</td>
	    <td>{{ line['Systolic_BP'] }}</td>
	    <td>{{ line['Diastolic_BP'] }}</td>
	  </tr>
          {% endfor %}
	</table>
	{% else %}
	<p>(No data)</p>
	{% endif %}
      </div>
      <div class='nursing'>
	<h4>Nursing records</h4>
	{% if patient_data['id']['nursing'] %}
	<table id='{{ id }}_nursing'>
          <tr>
	    <th>Time</th>
	    <th>Event type</th>
	    <th>Assessment type</th>
	    <th>Action</th>
	  </tr>
          {% for line in patient_data['id']['nursing'] %}
	  <tr>
	    <td>{{ line['Time'] }}</td>
	    <td>{{ line['Event_Type']}}</td>
            <td>{{ line['Assessment_Type'] }}</td>
	    <td>{{ line['Action'] }}</td>
	  </tr>
          {% endfor %}
	</table>
	{% else %}
	<p>(No data)</p>
	{% endif %}
      </div>
      <div class='orders'>
	<h4>Orders</h4>
	{% if patient_data['id']['orders'] %}
	<table>
	{% for line in patient_data['id']['orders']%}
	  {{ line }}
	{% endfor %}
	</table>
	{% else %}
	<p>(No data)</p>
	{% endif %}
      </div>
    </section>
    {% endfor %}
  </body>
</html>
